:root {
  --color-1: #0A0A0A;
  --color-2: #1A1A1A;
  --color-3: #4A4A4A;
  --color-4: rgb(148, 233, 21);
  --color-5: orange;
  --color-6: #FFF;
  --color-7: rgb(90, 231, 172);
  --color-8: rgb(40, 187, 143);
  --color-9: rgb(40, 82, 64);
  --liquid-1: #000;
  --liquid-1-shadown: #000;
  --liquid-2: #39FF14;
  --liquid-2-shadown: #006400;
  --liquid-3: #F00;
  --liquid-3-shadown: #8B0000;
  --liquid-4: #00A8FF;
  --liquid-5-shadown: #007DA6;
  --bubble-1: #4A4A4A;
  --bubble-2: #39FF14;
  --bubble-3: #FF2800;
  --bubble-4: #00BFFF;
}

@font-face {
  font-family: Calculator;
  src: url(../fonts/Calculator.ttf);
}

body {
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  background-image: url("../images/backgroun.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: var(--color-1);
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 570px;
  width: 720px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  opacity: 0.98;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.w70 {
  width: 70%;
}

.w30 {
  width: 30%;
}

.w80 {
  width: 80%;
}

.w20 {
  width: 30%;
}

.h100 {
  height: 100%;
}

.h80 {
  height: 80%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h50 {
  height: 50%;
}

.tab {
  height: 120px;
}

.tab2 {
  height: 300px;
}

.tab3 {
  height: 180px;
}

.title {
  padding-left: 30px;
}

.title h3 {
  font-size: 40px;
}

.title p {
  font-size: 15px;
}

.title p,
h3,
h2,
h1 {
  color: var(--color-6);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 span {
  font-weight: bold;
}

.cardcontainer {
  padding-right: 30px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
}

.card {
  background-color: var(--color-2);
}

.card .border {
  background-color: var(--color-3);
  width: 20px;
  position: relative;
  left: calc(100% - 20px);
  top: -100%;
  display: flex;
  text-align: center;
}

.border p {
  writing-mode: vertical-lr;
  color: var(--color-6);
  font-size: 13px;
  padding: 0;
  margin: 0;
  padding-left: 2px;
}

.car {
  padding-right: 15px;
  padding-top: 8px;
}

.pd-t8 {
  padding-top: 8px;
}

.pd-t10 {
  padding-top: 10px;
}

.np {
  padding: 0;
}

.nm {
  margin: 0;
}

.p-fs10 {
  font-size: 10px;
}

.p-fs12 {
  font-size: 12px;
}

.p-fs14 {
  font-size: 14px;
}

.p-fs16 {
  font-size: 16px;
}

.p-fs18 {
  font-size: 18px;
}

.p-fwb {
  font-weight: bold;
}

.p-cw {
  color: var(--color-6);
}

.p-co {
  color: var(--color-5);
}

.tank {
  height: 200px;
  width: 160px;
  background-color: var(--color-2);
  margin: 5px;
  margin-top: 30px;
}

.tank-blank {
  height: 10%;
}

.tank-line1 {
  height: 80%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tank-value {
  background-color: var(--color-3);
  height: 20px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tank-value-1 {
  height: 100%;
  background-color: var(--color-4);
  width: 50%;
  position: relative;
  left: -10px;
  text-align: center;
}

.tank-value-1 p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 11px;
  font-weight: bold;
}

.tank-value-2 {
  width: 50%;
  text-align: center;
}

.tank-value-2 p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: -5px;
}

.skew {
  -webkit-transform: skew(0deg);
  /* Chrome, Opera */
  -ms-transform: skew(0deg);
  /* IE */
  transform: skew(0deg);
  /* Padrão */
}

.positive {
  -webkit-transform: skew(30deg);
  /* Chrome, Opera */
  -ms-transform: skew(30deg);
  /* IE */
  transform: skew(30deg);
  /* Padrão */
}

.negative {
  -webkit-transform: skew(-30deg);
  /* Chrome, Opera */
  -ms-transform: skew(-30deg);
  /* IE */
  transform: skew(-30deg);
  /* Padrão */
}

    .bt-select {
      position: absolute;
      height: 20px;
      width: 160px;
      background-color: #3A3A3A;
      border: #4A4A4A;
      color: #8A8A8A;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }

    .bt-selected {
      background-color: #39FF14;
      border: #006400;
      color: white;
    }

    .barra {
      position: absolute;
      background-color: var(--color-6);
      height: 13px;
      width: 3px;
    }

    .line {
      position: absolute;
      background-color: var(--color-3);
      width: 2px;
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      background-color: var(--color-6);
      height: 3px;
      width: 3px;
    }

    .fuel-level {
      position: absolute;
      background-color: var(--color-2);
      width: 210px;
      height: 15px;
      top: 134px;
      left: 500px;
      display: flex;
      flex-direction: row;
      text-align: center;
    }

    .fuel-text {
      text-align: center;
      height: 100%;
      font-size: 10px;
    }

    .fuel-icon {
      background-color: var(--color-3);
      height: 100%;
      width: 15px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      vertical-align: middle;
    }

    .fuel-level-bar {
      height: 80%;
      width: 5px;
      margin: 1px;
      background-color: var(--color-2);
      border: 1px solid var(--color-3);
    }

    .fuel-level-bar-complet {
      background-color: var(--color-4);
    }

    .fuel-level-content {
      height: 100%;
      width: 80px;
      display: flex;
      flex-direction: row;
      margin-left: 5px;
    }

    .tank-title-absolut {
      position: absolute;
      height: 25px;
      width: 170px;
      top: 131px;
      left: 60px;
      text-align: center;
    }

    .tank-title-absolut p {
      margin: 0;
      padding: 0;
      font-size: 20px;
      color: var(--color-3);
    }

    .tank-title-absolut p span {
      font-weight: bold;
      color: var(--color-6);
    }

    .footer {
      align-items: center;
    }

    .footer-1 {
      background-color: var(--color-2);
      width: 670px;
      height: 20px;
      margin-top: 25px;
      text-align: start;
    }

    .footer-1 p {
      color: var(--color-6);
      margin-left: 20px;
      font-size: 14px;
    }

    .footer-2 {
      background-color: var(--color-2);
      width: 670px;
      height: 35px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      align-items: center;
    }

    .footer-2 p {
      color: var(--color-6);
      margin-left: 20px;
      font-size: 14px;
    }

    .footer-2-ico {
      background-color: var(--color-4);
      width: 30px;
      height: 25px;
      margin-left: 20px;
    }

    .footer-2-ico img {
      padding: 5px;
    }

    .footer-2-bar {
      display: flex;
      align-items: center;
      width: 75%;
      margin-left: 20px;
      height: 100%;
    }

    .footer-2-liters {
      background-color: var(--color-9);
      margin-left: 20px;
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      text-align: center;
      vertical-align: middle;
    }

    .footer-2-liters p {
      color: var(--color-8);
    }

    .footer-3 {
      background-color: var(--color-2);
      width: 670px;
      height: 50px;
      margin-top: 10px;
      vertical-align: middle;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .footer-3 p {
      color: var(--color-3);
      margin-left: 20px;
      font-size: 15px;
    }

    .footer-3 p span {
      color: var(--color-6);
      font-size: 15px;
      font-weight: bold;
    }

    .price {
      font-family: Calculator;
      color: white !important;
      font-size: 30px !important;
      text-align: end;
      margin-right: 20px;
      margin-top: 10px;
      color: var(--color-4) !important;
    }

    .mt-10 {
      margin-top: 10px;
    }

    .mt-5 {
      margin-top: 5px;
    }

    .footer-button {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: -30px;
      border-end-end-radius: 15px;
      border-end-start-radius: 15px;
      right: 0px;
      height: 50px;
      width: 200px;
      background-color: var(--color-1);
      align-items: center;
      align-content: center;
      vertical-align: middle;
    }

    .footer-button button {
      height: 40px;
      margin-left: 25px;
      width: 150px;
      background-color: var(--color-2);
      color: var(--color-6);
      border-radius: 10px;
      border: 2px solid var(--color-3);
      cursor: pointer;
      margin-bottom: 15px;
    }

    .footer-button button div {
      height: 40px;
      margin: 0;
      padding: 0;
      width: 50px;
      background-color: var(--color-3);
      position: absolute;
      left: 25px;
      top: -3px;
      border-end-start-radius: 10px;
      border-start-start-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      vertical-align: middle;
    }

    .footer-button button p {
      margin: 0;
      margin-left: 40px;
      padding: 0;
      color: var(--color-6);
      font-weight: bold;
    }

    .footer-button button div img {
      height: 25px;
      width: 25px;
      margin-left: 12px;
    }
